<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {# Internal CSS #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title %} {% endblock %} - Top-Shelf Market Place</title>
  </head>

  <body>
  
  {# ------------ NavBar -------------- #}
    {% include './includes/nav.html.j2' %}
{# ------------ NavBar -------------- #}

{# ------------ Flash Message -------------- #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for class, message in messages%}
                <div class="alert alert-{{class}} alert-dissimissble fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>    
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{# ------------ Flash Message -------------- #}

    <section class="bg-dark text-white p-5 text-justify">
    {% block content %}
    {% endblock %}
    </section>

{# ------------ Footer -------------- #}
    {% include './includes/footer.html.j2' %}
{# ------------ Footer -------------- #}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>