{% extends 'base.html.j2' %}
{% block title %}
    Main
{% endblock %}

{% block content %}
  <section class="bg-dark text-white p-5 text-center">
    <div class="container">
      <div class="d-flex flex-column">
          <div class="p-4"><h1>Welcome to the <span class="text-info">Top-Shelf Market Place</span></h1></div>
          </div> 
      </div>
  </section>
{% endblock %}

